.wrapper {
  max-width: 960px;
  margin: 0 auto;
  @media (min-width: 767px) {
    display: flex;
    flex-flow: row wrap;
    /*align-items: flex-start;*/
    /*justify-content: space-around;*/
  }
}
.content,
.blog-single {
  @media (min-width: 767px) {
    flex: 3;
  }
}
.main-inner {
  padding: 25px 20px;
  @media (min-width: 767px) {
    padding: 30px 20px;
  }
  @media (min-width: 992px) {
    padding: 35px 20px;
  }
  @media (min-width: 1101px) {
    padding: 40px 35px;
  }
}
